# Eclipse metadata (LO MÁS IMPORTANTE)
.metadata/
RemoteSystemsTempFiles/
.recommenders/

# --- IDEs & Editors ---

# Eclipse
**/.project
**/.classpath
**/.settings/
**/bin/
**/RemoteSystemsTempFiles/
**/.recommenders/

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nb-configuration.xml
**/nbactions.xml

# VS Code / Trae / Cursor / Gravity
**/.vscode/
**/.cursor/
**/.trae/
**/.history/

# IntelliJ / Android Studio
**/.idea/
*.iml
*.iws
*.ipr

# --- Build Tools & Output ---
**/target/
**/build/
**/out/
*.class
*.log

**/.factorypath


# --- OS Specific ---
.DS_Store
Thumbs.db