# Eclipse metadata (LO MÁS IMPORTANTE)
.metadata/
RemoteSystemsTempFiles/
.recommenders/

# Archivos de compilación
bin/
target/
*.class

# Archivos de configuración de servidor (Jakarta EE)
Servers/
.settings/org.eclipse.wst.server.core.prefs

# Archivos específicos de usuario
.lock
.loadpath

# Archivos de configuración de proyecto Eclipse (en cualquier subcarpeta)
**/.project
**/.classpath
**/.settings/

# Archivos específicos de IntelliJ o VS Code (por si acaso)
**/.idea/
**/.vscode/
*.iml